<h1 class="page-header">
Airlines <small>Data Setup</small>
</h1>
<ol class="breadcrumb">
	<li class="active">
		<i class="fa fa-paper-plane"></i> Airlines Setup
	</li>
</ol>

<%= simple_form_for @airline do |f| %>
	<%= f.input :airlines_name, label: "Airlines Name" %>
	<%= f.input :airlines_address, label: "Airlines Address" %>
	<%= f.input :airlines_contact, label: "Airlines Contact" %>
	<%= f.input :airlines_plane_capacity, label: "Airlines Plane Capacity" %>
	<%= f.button :submit , label: "Add / Update Airlines", :class => "btn btn-success"%>
<% end %>